<div class="uk-modal-dialog">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header uk-background-muted">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-expand">
                <h3 class="uk-card-title uk-margin-remove-bottom">{{title}}</h3>
                <p class="uk-text-meta uk-margin-remove-top">{{channel}}</p>
            </div>
        </div>
    </div>
    <div class="uk-modal-body uk-text-center">
        <iframe width="540"
                height="310"
                src="https://www.youtube.com/embed/{{youtubeID}}"
                frameborder="0"
                allow="autoplay; encrypted-media"
                allowfullscreen></iframe>
    </div>
    <div class="uk-modal-footer" uk-overflow-auto>
        <table id="video-dates-details"
                class="uk-table uk-table-small uk-table-hover uk-table-divider">
            <thead>
                <tr>
                    <th class="">&nbsp;</th>
                    <th class="uk-text-right">Visualizações</th>
                    <th class="uk-text-right">Gostei</th>
                    <th class="uk-text-right">Não Gostei</th>
                    <th class="uk-text-right">Recomendações</th>
                    <th class="uk-text-right"><span class="uk-text-small">Posição no Ranking de Recomendações</span></th>
                </tr>
            </thead>
            <tbody>
                {{#dates}}
                <tr>
                    <td>{{date}}</td>
                    <td class="uk-text-right">{{views}}</td>
                    <td class="uk-text-right">{{likes}}</td>
                    <td class="uk-text-right">{{dislikes}}</td>
                    <td class="uk-text-right">{{nb_recommendations}}</td>
                    <td class="uk-text-right">{{recRank}}</td>
                </tr>
                {{/dates}}
            </tbody>
        </table>
    </div>
</div>