<div class="tm-sidebar-left">
	<div id="main-menu">
		<ul class="uk-nav uk-nav-default" uk-switcher>
            <p class="uk-text-lead">{{termsTitle}}</p>
            {{#terms}}
			<li><a href="" onclick="app.selectTerm('{{slug}}')">{{name}}</a></li>
            {{/terms}}
            
            <li class="uk-nav-divider"></li>
            <li class="uk-nav-header">{{relatedTermsTitle}}</li>
            {{#relatedTerms}}
			<li><a href="" onclick="app.selectTerm('{{slug}}')">{{name}}</a></li>
            {{/relatedTerms}}
		</ul>
	</div>
	
	<div id="footer-section" class="uk-section uk-section-xsmall uk-section-secondary">
		<div class="uk-container uk-container-small uk-text-small uk-text-center">
			<p>Developed by<br/><a href="https://luciano.fluxo.art.br" target="_blank">Luciano Frizzera</a></p>
		</div>
	</div>
</div>