<div class="uk-section uk-section-xsmall uk-background-muted uk-padding-remove-top uk-padding-remove-bottom uk-box-shadow-small tm-main" uk-sticky="media:640">
	<div class="uk-container uk-container-expand uk-text-center">

		<div id="small-title" class="uk-clear-fix uk-margin-top" hidden>
			<h4 class="uk-h4 uk-margin-remove-bottom">{{title}}: {{subtitle}}</h4>
		</div>
	
		<div id="current-view">
			<p class="uk-margin-top uk-text-lead">
                    {{currentTerm}} | {{currentPeriod}}
			</p>
		</div>
	</div>
</div>