<div class="uk-section tm-main">
    <div class="uk-container">

         <div uk-grid>

            <div id='videos' class='uk-width-1-2'>
                <h2 class="uk-h2 uk-text-center">{{title}}</h2>
                <div class="uk-text-small">
                    <div class="spiner uk-position-absolute uk-transform-center uk-margin-large-bottom" uk-spinner="ratio: 1"></div>
                    <div id="top-videos"></div>
                </div>
            </div>

            <div id='channels' class='uk-width-1-2'></div>

        </div>

    </div>
    <hr>
</div>