<div class="tm-sidebar-left">
	<div id="main-menu">
		<ul class="uk-nav uk-nav-default" uk-switcher>
			 <p class="uk-text-lead">{{sideBarTitle}}</p>
			{{#terms}}
			<li><a class="side-bar-item" slug="{{slug}}">{{name}}</a></li>
            {{/terms}}
		</ul>
	</div>
	
	<div id="footer-section" class="uk-section uk-section-xsmall">
		<div class="uk-container uk-container-small uk-text-small uk-text-center">
			<hr class="uk-divider-small">
			<p class="uk-text-muted">Developed by<br/><a href="http://luciano.fluxo.art.br" target="_blank" rel=noreferrer class="uk-link-text">Luciano Frizzera</a></p>
		</div>
	</div>
</div>